:root {
    --switch-width: 56px;
    --switch-height : 30px;
    --switch-margin : 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

.switch_input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    background-color: lightgray;
    transition: .3s;
}

.slider::before {
    position: absolute;
    content: "";
    height: calc(var(--switch-height) - (2 * var(--switch-margin)));
    width: calc(var(--switch-height) - (2 * var(--switch-margin)));
    left: var(--switch-margin);
    bottom: var(--switch-margin);
    border-radius: 50%;
    background-color: white;
    transition: .3s;
}

.switch_input:checked+.slider::before {
    transform: translateX(26px);
}

.switch_input:checked+.slider {
    background-color: var(--secondary-color);
}
